/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
	background-color: black;
}
.title{
	float: left;
	margin-left: 1%;
}
.datePosted{
	float: right;
	margin-right: 1%;
}

img{
    display: block;
	float: left;
	width: 80%;

}
.explanation{
	float: right;
	margin-right: 1%;
	width: 17%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1, h2, h3{
	color: #808080
}