/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
	background-color: black;
}
.title{
	float: left;
}
.datePosted{
	float: right;

}

img{
    display: block;
	float: left;
	width: 80%;

}
.explanation{
	float: right;
	width: 18%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1, h2, h3{
	color: #808080
}